@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

@font-face {
  font-family: "MainFont";
  src: url("/fonts/main.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-main: "MainFont", ui-sans-serif, system-ui, sans-serif;
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;

  --color-primary: #ffffff;
  --color-onPrimary: #363636;
  --color-secondary: #d2d2d2;
}

@layer components {
  .hero     { @apply min-h-screen flex flex-col items-center justify-center w-full overflow-hidden bg-primary; }
  .avatar   { @apply rounded-3xl shadow-2xl/50 size-40 sm:size-50 md:size-70; }
  .section{ @apply min-h-screen px-4 bg-primary flex flex-col items-center justify-center text-center gap-8; }


  .heading  { @apply text-center text-5xl sm:text-6xl md:text-7xl lg:text-9xl text-onPrimary font-main text-balance max-w-3/4 m-10; }
  .heading2  { @apply text-center text-3xl sm:text-4xl md:text-6xl text-onPrimary font-main max-w-3xl text-balance; }
  .subheading { @apply text-center text-base text-onPrimary font-main tracking-widest; }
  .subheading2 { @apply text-center text-xs text-secondary font-inter font-light tracking-widest; }

  .paragraph { @apply text-center text-lg md:text-xl text-secondary font-inter font-light pt-10 max-w-5xl; }


  .btn        { @apply text-onPrimary text-lg font-bold inline-flex items-center gap-2 rounded-full px-9 py-3 mt-10 transition shadow-md; }
  .btn-primary{ @apply bg-secondary; }
  .btn-outline{ @apply border border-secondary; }
  .btn-icon   { @apply size-4; }
  .btn-nav    { @apply flex items-center justify-center h-12 w-12 rounded-full hover:bg-gray-100 transition; }
  .btn-nav-icon{ @apply size-5; }
}